<head>
    	<link rel="stylesheet" type="text/css" href="/CSS/aboutUs.css"/>
    	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
		<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<div class="row">
  <center>
	
	<h3>Our Mission</h3>
	<p> Using the Twitterverse to guide your moves on Wall Street </p>
  
  </center>
</div>

<div class="row">
  <center>
	
	<h3>About</h3>
	<p> Using a database of publicly traded companies, Money Chirp users create a unique profile to follow a company's historical stock and twitter activity. Charts display stock prices and a Twitter Trending Score based on the number of mentions. The app gives investors a visual sense of whether or not a stock may fall or rise in the market depending on its trending score. </p>
  
  </center>
</div>

<div class="row">
  <center>
	
	<h3> Who we are </h3>
	<p> We are five web developers in training. Money Chirp is a group project created during the fourth month of dev bootcamp. Combining our best front end and back end efforts we set out to build a tool for investors and non-investors alike. We all come from diverse academic and professional backgrounds. As consumers in this market economy we believe that Money Chirp could be a useful platform for investing that at the same time shows off our coding skills. We may continue to further develop and update Money Chirp. </p>

  </center>

	<ul> 
		<li> Joy Chia-Yu Chang  <a href="https://github.com/chiaychang">Github</a> </li> 
		<li> Adrian J. Segura <a href="https://github.com/adi727">Github</a> </li>
		<li> Sarah Mandley <a href="https://github.com/saerieanna">Github</a> </li>
		<li> Ornella Hernandez <a href="https://github.com/ornibella">Github</a> </li>
		<li> Andreas Papazafeiropoulos <a href="https://github.com/AndreasPapaz">Github</a> </li>
	</ul>
  
</div>