<head>
    	<link rel="stylesheet" type="text/css" href="css/signup.css"/>
</head>

<div class="row">
	<center>
	{{!-- handle bars to insert into main.handlebars CENTER--}}

		
		<div class="col-md-3 col-sm-3 col-xs-3"></div>
			<div class="col-md-6 col-sm-6 col-xs-6">
			<form class="signup" id="loginSignup">
				<h4>New User? Sign up below.</h4>
				<div class="group">
					<input type="email" id="email-input">
					<span class="highlight"></span><span class="bar"></span>
					<label for="exampleInputEmail">Email</label>
				</div>
				<div class="group">	
					<input type="password" id="password-input">
					<span class="highlight"></span><span class="bar"></span>
					<label for="exampleInputPassword">password</label>
				</div>
				<button type="submit button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Sign up
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
				<div></div>
				<br>
				<center><p> or for existing members, <a href="/login" id="loginButton">login</a></p></center>
			</form>
			</div>
	</center>
</div>

